@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/Yekan Bakh/Yekan Bakh EN 05 Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Yekan Bakh', sans-serif;
}

html {
  scroll-behavior: smooth;
}